# IDE
nbproject/*

# Vhosts
vhosts/*.dev
vhosts/*.legacy
vhosts/collectorsquest.com/*
vhosts/cqcdns.com/*

# Logs
logs/*.log
logs/sphinx/*.log

# Sphinx
etc/sphinx.running.conf
etc/sphinx/conf.d/*

# Vagrant
/etc/vagrant/.vagrant
/etc/vagrant/platform
/etc/vagrant/id_rsa

# Nginx
etc/nginx/sites-enabled/*
