logs/*.log
logs/sphinx/*.log
vhosts/*.dev
vhosts/collectorsquest.com/*
vhosts/cqcdns.com/*
etc/sphinx.running.conf
etc/sphinx/conf.d/*

# Vagrant
/etc/vagrant/.vagrant
/etc/vagrant/platform
/etc/vagrant/id_rsa

